<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/pushNotification" method="post">
    <input type="text" name="text" placeholder="Send to all clients" />
    <button type="submit" value="Send">Send</button>
</form>
<script>

</script>